@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, h1, h2, h3, p, ul, li, form, button, input[type="text"], input[type="date"], input[type="time"] {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #000;
  color: #fff;
  background-repeat: repeat;
  background-position: 38px 44px;
  background-color: #15191e;
  background-image: url("https://suite.ducket.net/6432-grid_2.png");
}

.page-container {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: 'Lato', sans-serif;
}

img {
}

header {
  background-color: transparent;
  padding: 10px 0;
  border-radius: 10px;
}

header h1 {
  color: #fff;
}

.dropdown {
  position: absolute;
  top: 25px;
  right: 20px;
}

.dropbtn {
  background-color: rgba(17, 17, 17, 0.6);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px; /* Rounded padding */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.6);
  min-width: 120px;
  z-index: 1;
  border-radius: 10px; /* Rounded padding */
  top: 30px;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444;
}

.main-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.dashboard {
  flex-basis: calc(33.33% - 20px);
  background-color: rgba(17, 17, 17, 0.6);
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; /* Rounded padding */
  cursor: pointer;
}

.dashboard h2 {
  margin-bottom: 5px;
}

.dashboard p {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  border-radius: 10px; /* Rounded padding */
}

button {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Rounded padding */
}

button:hover {
  background-color: #444;
}

.schedule-chart {
  flex-basis: 100%;
  margin-top: 20px;
}

#scheduleChartContainer {
  display: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  opacity: 0.8;
}

#scheduleChart {
  display: block;
  width: 100%;
  height: 300px;
}

#monthly-stats.dashboard {
  padding: 5px;
}

.dashboard-link {
  text-decoration: none;
  color: #fff;
}

.dashboard-link:hover {
  opacity: 0.8;
}

.dashboard h2 {
  text-align: center;
}

.event-scheduler {
  cursor: pointer;
  position: relative;
  background-color: #111;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; /* Rounded padding */
}

.event-scheduler h2 {
  text-align: center;
}

.event-scheduler .drop-content {
  display: none;
  background-color: #111;
  border-radius: 10px; /* Rounded padding */
  position: absolute;
  top: 100%;
  right: 10px;
  padding: 10px;
  min-width: 200px;
  color: #fff;
}

.event-scheduler.expanded .drop-content {
  display: block;
  padding: 10px;
}

#event-scheduler .drop-content {
  display: none;
}

#event-scheduler .drop-content form {
  max-width: 300px;
  margin: 0 auto;
}

#event-scheduler .drop-content .form-group {
  margin-bottom: 10px;
}

#event-scheduler .drop-content label {
  display: block;
  margin-bottom: 5px;
}

#event-scheduler .drop-content input[type="text"],
#event-scheduler .drop-content input[type="date"],
#event-scheduler .drop-content input[type="time"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  border-radius: 10px; /* Rounded padding */
}

#event-scheduler .drop-content button {
  width: 106%;
  padding: 10px 0;
}

#event-scheduler .drop-content input[type="text"][name="host-name"] {
  -webkit-text-fill-color: #fff;
  opacity: 1;
  pointer-events: none;
}

#clock-in .drop-content {
  display: none;
  background-color: rgba(17, 17, 17, 0.0);
}

#clock-in.expanded .drop-content {
  max-height: 200px;
  padding: 50px;
}

#clock-in.expanded .shrink {
  display: none;
}

#clock-in.expanded .drop-content input[type="text"],
#clock-in.expanded .drop-content input[type="date"],
#clock-in.expanded .drop-content input[type="time"] {
  width: 50%;
  margin: 0 auto;
}

#clock-in .drop-content form {
  text-align: center;
}

#clock-in .drop-content button {
  margin: 10px auto;
}




/* Your existing CSS rules here */

/* Add this style for the calendar to fit within the padding */
#calendar {
  display: none; /* Hide the calendar by default */
  width: 100%;
  margin: 0 auto;
  background-color: #15191e; /* Adjust the background color to match your theme */
  color: #fff;
  border-radius: 5px;
}

/* Additional styles for the calendar */
.fc-toolbar {
  margin-bottom: 20px;
}

/* Customize the button styles to match your theme */
.fc-button {
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.fc-button:hover {
  background-color: #666;
}

/* Change the default color of events */
.fc-event {
  background-color: #7289da; /* Adjust this to your desired event color */
  border-color: #7289da; /* Adjust this to your desired event color */
}

/* Customize the event details display on click */
.expanded-event {
  font-size: 14px;
  color: #fff;
  background-color: #7289da; /* Adjust this to your desired event color */
  border-radius: 5px;
  padding: 5px;
}

