body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  font-family: Arial, sans-serif;
  background-repeat: repeat;
  background-position: 38px 44px;
  background-color: #F1F1F1;
  background-image: url("https://suite.ducket.net/6432-grid_2.png");
  margin: 10px;
  padding: 0;
}

.announcement-bar {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41.5px;
  padding: -1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.announcement-text {
  font-size: 14px;
  font-weight: Light;
  text-decoration: none;
  color: white;
}

.logo {
  width: 19px !important;
  height: 19px !important;
  margin-right: 3px;
  margin-top: 6px;
  cursor: pointer;
}

.staff-list-container {
  max-width: 408px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1F1F1F;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: "Lato", sans-serif;
  background-image: url("https://suite.ducket.net/6432-grid_2.png");
  background-repeat: repeat;
  background-position: 38px 44px;
}

.list-container {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.avatar-image {
  width: 60px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;
}

span {
  font-size: 16px;
}

.button-container li {
  position: relative;
  height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button-container li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% + 10px);
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.button-container li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), var(--button-color));
  border-radius: 10px;
  z-index: 1;
}

.button-container li:hover {
  background-position: 0px 80px;
}

.button-container li:hover .avatar-image {
  transform: scale(1.2);
  margin-top: -5;
}

.button-container li:hover span {
  transform: translateX(10px);
}

.button-container li span {
  z-index: 2;
  text-shadow: 1px 1px 2px black;
  transition: transform 0.2s ease-out;
}

.owner-button { --button-color: #5bbafa; }
.general-manager-button { --button-color: #eaf054; }
.events-manager-button { --button-color: #be66f3; }
.social-manager-button { --button-color: #a86ff8; }
.community-events-manager-button { --button-color: #9B59B6; }
.podcaster-button { --button-color: #cfbe15; }
.developer-button { --button-color: #00CED1; }
.moderator-button { --button-color: #FF8C00; }
.head-designer-button { --button-color: #7CFD9E; }
.graphics-designer-button { --button-color: #FF6347; }
.server-developer-button { --button-color: #4682B4; }
.wired-master-button { --button-color: #9932CC; }
.values-button { --button-color: #54ABC2; }
.builder-button { --button-color: #000080; }
.room-builder-button { --button-color: #A9A9A9; }
.events-assistant-button { --button-color: #008000; }
.events-host-button { --button-color: #71368A; }
.news-manager-button { --button-color: #ff992b; }
.staff-button { --button-color: #800080; }

.owner-button { background-image: url("/staff/images/web_view_bg_cn2.gif"); }
.general-manager-button { background-image: url("/staff/images/web_view_bg_ru.gif"); }
.events-manager-button { background-image: url("/staff/images/lpromo_Blog_Promo.png"); }
.social-manager-button { background-image: url("/staff/images/lpromo_ny2016.png"); }
.community-events-manager-button { background-image: url("/staff/images/transparent.gif"); }
.podcaster-button { background-image: url("/staff/images/transparent.gif"); }
.developer-button { background-image: url("/staff/images/transparent.gif"); }
.moderator-button { background-image: url("/staff/images/transparent.gif"); }
.head-designer-button { background-image: url("/staff/images/transparent.gif"); }
.graphics-designer-button { background-image: url("/staff/images/transparent.gif"); }
.server-developer-button { background-image: url("/staff/images/transparent.gif"); }
.wired-master-button { background-image: url("/staff/images/transparent.gif"); }
.values-button { background-image: url("/staff/images/transparent.gif"); }
.builder-button { background-image: url("/staff/images/transparent.gif"); }
.room-builder-button { background-image: url("/staff/images/transparent.gif"); }
.events-assistant-button { background-image: url("/staff/images/transparent.gif"); }
.events-host-button { background-image: url("/staff/images/transparent.gif"); }
.news-manager-button { background-image: url("/staff/images/transparent.gif"); }
.staff-button { background-image: url("/staff/images/transparent.gif"); }

.member-description {
  font-size: 14px;
  color: white;
  margin-top: 5px;
  line-height: 1.2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease, right 0.3s;
  z-index: 2;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

li:hover .member-description {
  visibility: visible;
  opacity: 1;
  right: 10%;
}

.back-to-home {
  font-size: 14px;
  font-weight: italic;
  text-decoration: none;
  color: #6B7280;
  margin-left: -5px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-family: Arial, sans-serif;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.back-to-home::before {
  font-family: "Font Awesome 6 Free";
  content: "\f060";
  font-weight: 900;
  margin-right: 5px;
}

.back-to-home:hover {
  color: #374151;
}

.back-to-home:active {
}

.twitter-container {
  display: none; 
  position: fixed; 
  background-color: #26a7de;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1;
  transform: translateX(50%); 
  transition: transform 0.3s ease-in-out;
}

.twitter-container.show-twitter {
  display: block; 
  transform: translateX(0); 
  right: 671px; 
}
